@font-face {
    font-family: "Lato Black";
    src: url("assets/fonts/Lato-Black.ttf.") format("truetype");
}

@font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato Italic";
    src: url("assets/fonts/Lato-Italic.ttf") format("truetype");
  }

@font-face {
    font-family: "Lato Light";
    src: url("assets/fonts/Lato-Light.ttf") format("truetype");
  }
   
@font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
@font-face {
    font-family: "Lato Thin";
    src: url("assets/fonts/Lato-Thin.ttf") format("truetype");
}
  

@font-face {
    font-family: "Lato Bold";
    src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}
  
@font-face {
    font-family: "Lato Black";
    src: url("assets/fonts/Lato-Black.ttf") format("truetype");
}

* {
    margin: 0;
    font-family: "Lato Regular", sans-serif;
    font-weight: normal;
}

.header {
    max-width: 1020px;
    margin: auto;
    padding: 61px 40px 66px;
    box-sizing: border-box;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
	  color: #666d89;
}

.portfolio-header h2, .about-us-header h2 {
    padding-bottom: 18px;
	  font-size: 30px;
    font-family: "Lato Black", sans-serif;
}

.about-us-header p, .portfolio-header p {
    text-align: justify;
    line-height: 30px;
	  font-size: 18px;
    font-family: "Lato Light", sans-serif;
}

.selector {
    display: flex;
    margin: 11px 1px 20px;
}

.selector-tab {
    outline: none;
    cursor: pointer;
	  margin-right: 10px;
    background-color: transparent;
    color: #767e9e;
    line-height: 18px;
    font-size: 12px;
	  border: 1px solid #767e9e;
    border-radius: 4px;  
}

.selector-button, .selector-tab:hover {
    border: 1px solid #c5c5c5;
	  color: #dedede;;
    transition: .2s;
}

.portfolio-examples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    max-height: 601px;
    overflow: hidden;   
}

.portfolio-examples div {
    height: 187px;
    overflow: hidden;
}

.about-us {
    max-width: 1020px;
    margin: auto;
    padding: 61px 40px 66px;
    box-sizing: border-box;
    color: #666d89;
    background-color: #f2f2f2;;
    border-bottom: solid 6px #ffffff;
}

.our-persons {
    margin-top: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;  
}

.person{
    overflow: hidden;
}

.person-photo {
    width: 300px;
    height: 300px;
}

.person h3 {
    white-space: nowrap;
    font-family: "Lato Bold", sans-serif;
    font-size: 18px;
    padding-top: 11px;
    letter-spacing: -.02;
}

.person p {
    padding-top: 9px;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
}

.person-contact {
    display: flex;
    margin-top: 21px;
}

.person-contact img {
    padding-right: 5px;
    cursor: pointer;
}

.person-contact img:hover {
    transition: .18s;
    filter: brightness(30%);
}
